* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1rem;
    text-align: center;
    background-color: #212121;
    font-family: 'orbitron', sans-serif;
    color: #121212;
    background: url(./images/bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-heading {
    color: cyan;
    text-shadow: 0 0 5px cyan, 0 0 10px magenta;
    display: flex;
    flex-direction: column;
    transform: skewY(-10deg);
    font-size: 3rem; 
    font-family: 'Audiowide', sans-serif;
}

.main-heading span:nth-of-type(2) {
    color: magenta;
    font-size: 4rem;
    margin-block: -2rem;
}

.main-heading span:nth-of-type(3) {
    margin-top: -.3rem; 
}

.game-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 90%;
    margin: 4rem auto;
    max-width: 1000px;
}

a {
    flex-grow: 1;
}

.game-card {
    height: 150px;
    flex-grow: 1; 
    min-width: 250px;
    transform: skewX(10deg);
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px cyan, 0 0 10px magenta;
    transition: .3s;
    background-color: #343333;
    overflow: hidden;
}

.game-card img {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: grayscale();
    transition: .3s;
    object-fit: contain;
    transform: scale(.7); 

} 

.game-card:hover {
    background-color: var(--bg);
}

.game-card:hover img { 
    filter:  grayscale(0) saturate(2);
    object-position: 50% 12%; 
    transform: scale(1.4);
}

.game-name {
    transform: skewX(-10deg);
    background-color: antiquewhite; 
    padding: .5rem 1rem;
}

.game-card:hover .game-name {
  color: magenta;
  text-shadow: 0 0 1px;
}

.game-card.even {
    transform: skewX(-10deg); 
}

.game-card.even .game-name {
    transform: skewX(10deg);
}

footer {
  color: magenta;
  font-size: .8rem;
  text-shadow: 0 0 10px;
}

footer a {
  color: cyan;
}

footer a:hover {
  color: blanchedalmond;
}

@media screen and (min-width: 608px) {
    .game-card.first-row {
      transform: skewX(10deg);
    }

    .game-card.first-row .game-name {
      transform: skewX(-10deg);
    }

    .game-card.second-row {
      transform: skewX(-10deg);
    }

    .game-card.second-row .game-name {
      transform: skewX(10deg);
    }
}

@media screen and (min-width: 951px) {

    .game-card.second-row.big-screen {
      transform: skewX(10deg);
    }

    .game-card.second-row.big-screen .game-name {
      transform: skewX(-10deg);
    }

    .game-card.third-row.big-screen {
      transform: skewX(-10deg);
    }

    .game-card.third-row.big-screen .game-name {
      transform: skewX(10deg);
    }

}