@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    --playerX: #ed9f57; 
    --playerO: #4ebdd9;
    --text: #545454;
    --transparent: #ffffff00;
    --bg: #f8f8f8;
}

* {
    box-sizing: border-box;
    letter-spacing: .05rem;

}

body {
    margin: 0;
    background: var(--bg); 
    color: var(--playerO);
    font-family: 'archivo black', sans-serif;
    text-align:center;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 1rem 0rem;
}

a {
    text-decoration: none;
    color: var(--playerX);
}

a:hover {
    color: var(--text);
}

.attribution {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .8rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem
}

.main-heading {
    text-transform: uppercase;
    margin: auto;
    /* width: fit-content; */
    font-size: 3rem;
}

.heading-span {
    color: var(--playerX); 
}

.btns {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

button {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .9rem;
    background: transparent;
    border: 1px solid var(--text);
    color: var(--text);
    border-radius: .5rem;
    padding: .5rem .8rem;
    cursor: pointer;
    transition: .3s;
    box-shadow: .3rem .2rem;
}

button:hover {
    color: var(--playerX);
    border-color: var(--playerX);
    box-shadow:  .1rem .1rem;
}

.hide {
    display: none;
}

.board {
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.tile {
    width: 100px; 
    aspect-ratio: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-bottom: 2px solid var(--text);
    border-left: 2px solid var(--text);
}

.tile.inactive {
    pointer-events: none;
}

.no-border-left {
    border-left: none;
}

.no-border-bottom {
    border-bottom: none;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #54545416;
}

.game-over-display {
    position: fixed;
    background: #f4f4f4;
    border: 2px solid var(--playerO);
    border-radius: .5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 25rem;
    width: 90%;
    box-shadow: .3rem .2rem ;
}

#result span {
    color: var(--playerX);
}
